<!-- <div data-controller='hello'>
  <span data-hello-target='button' data-action='click->hello#boom'>
    Hey
  </span>
</div>

<div data-controller='greeting'>
  <input data-greeting-target='name' type="text">

  <button data-action='click->greeting#print'>
    click!
  </button>

  <span data-greeting-target='output'></span>
</div> -->

<div data-controller='clipboard'>
  PIN:
  <textarea data-clipboard-target='source'readonly>1234</textarea>
  <button data-action='click->clipboard#copy' class="clipboard-button">
    Copy to Clipboard
  </button>
</div>
